In [8]:
import pandas as pd

from utils.general import get_data_path
from utils.get_ids import get_player_name
from utils.constants import SEASON

In [ ]:
for statistic in ["shots", "SoT", "SiB", "tpa", "npxG", "cc", "npxgi", "npg"]:
    df = pd.read_csv(f'{statistic}.csv')
    for gw in range(1, 35):
        print(f'GW{gw} {statistic} {df[df['gw'] == gw].shape}')

GW1 shots (780, 3)
GW2 shots (780, 3)
GW3 shots (780, 3)
GW4 shots (780, 3)
GW5 shots (780, 3)
GW6 shots (780, 3)
GW7 shots (780, 3)
GW8 shots (780, 3)
GW9 shots (780, 3)
GW10 shots (780, 3)
GW11 shots (780, 3)
GW12 shots (780, 3)
GW13 shots (780, 3)
GW14 shots (780, 3)
GW15 shots (780, 3)
GW16 shots (780, 3)
GW17 shots (780, 3)
GW18 shots (780, 3)
GW19 shots (780, 3)
GW20 shots (780, 3)
GW21 shots (780, 3)
GW22 shots (780, 3)
GW23 shots (780, 3)
GW24 shots (780, 3)
GW25 shots (780, 3)
GW26 shots (780, 3)
GW27 shots (780, 3)
GW28 shots (780, 3)
GW29 shots (780, 3)
GW30 shots (780, 3)
GW31 shots (780, 3)
GW32 shots (780, 3)
GW33 shots (780, 3)
GW34 shots (780, 3)
GW1 SoT (780, 3)
GW2 SoT (780, 3)
GW3 SoT (780, 3)
GW4 SoT (780, 3)
GW5 SoT (780, 3)
GW6 SoT (780, 3)
GW7 SoT (780, 3)
GW8 SoT (780, 3)
GW9 SoT (780, 3)
GW10 SoT (780, 3)
GW11 SoT (780, 3)
GW12 SoT (780, 3)
GW13 SoT (780, 3)
GW14 SoT (780, 3)
GW15 SoT (780, 3)
GW16 SoT (780, 3)
GW17 SoT (780, 3)
GW18 SoT (780, 3)
GW19 SoT (780, 3)
GW20 SoT (780, 3)
GW21 SoT (780, 3)
GW22 SoT (780, 3)
GW23 SoT (780, 3)
GW24 SoT (780, 3)
GW25 SoT (780, 3)
GW26 SoT (780, 3)
GW27 SoT (780, 3)
GW28 SoT (780, 3)
GW29 SoT (780, 3)
GW30 SoT (780, 3)
GW31 SoT (780, 3)
GW32 SoT (780, 3)
GW33 SoT (780, 3)
GW34 SoT (780, 3)
GW1 SiB (780, 3)
GW2 SiB (780, 3)
GW3 SiB (780, 3)
GW4 SiB (780, 3)
GW5 SiB (780, 3)
GW6 SiB (780, 3)
GW7 SiB (780, 3)
GW8 SiB (780, 3)
GW9 SiB (780, 3)
GW10 SiB (780, 3)
GW11 SiB (780, 3)
GW12 SiB (780, 3)
GW13 SiB (780, 3)
GW14 SiB (780, 3)
GW15 SiB (780, 3)
GW16 SiB (780, 3)
GW17 SiB (780, 3)
GW18 SiB (780, 3)
GW19 SiB (780, 3)
GW20 SiB (780, 3)
GW21 SiB (780, 3)
GW22 SiB (780, 3)
GW23 SiB (780, 3)
GW24 SiB (780, 3)
GW25 SiB (780, 3)
GW26 SiB (780, 3)
GW27 SiB (780, 3)
GW28 SiB (780, 3)
GW29 SiB (780, 3)
GW30 SiB (780, 3)
GW31 SiB (780, 3)
GW32 SiB (780, 3)
GW33 SiB (780, 3)
GW34 SiB (780, 3)
GW1 tpa (780, 3)
GW2 tpa (780, 3)
GW3 tpa (780, 3)
GW4 tpa (780, 3)
GW5 tpa (780, 3)
GW6 tpa (780, 3)
GW7 tpa (780, 3)
GW8 tpa (780, 3)
GW9 tpa (780, 3)
GW10 tpa (780, 3)
GW11 tpa (780, 3)
GW12 tpa (780, 3)
GW13 tpa (780, 3)
GW14 tpa (780, 3)
GW15 tpa (780, 3)
GW16 tpa (780, 3)
GW17 tpa (780, 3)
GW18 tpa (780, 3)
GW19 tpa (780, 3)
GW20 tpa (780, 3)
GW21 tpa (780, 3)
GW22 tpa (780, 3)
GW23 tpa (780, 3)
GW24 tpa (780, 3)
GW25 tpa (780, 3)
GW26 tpa (780, 3)
GW27 tpa (780, 3)
GW28 tpa (780, 3)
GW29 tpa (780, 3)
GW30 tpa (780, 3)
GW31 tpa (780, 3)
GW32 tpa (780, 3)
GW33 tpa (780, 3)
GW34 tpa (780, 3)
GW1 npxG (780, 3)
GW2 npxG (780, 3)
GW3 npxG (780, 3)
GW4 npxG (780, 3)
GW5 npxG (780, 3)
GW6 npxG (780, 3)
GW7 npxG (780, 3)
GW8 npxG (780, 3)
GW9 npxG (780, 3)
GW10 npxG (780, 3)
GW11 npxG (780, 3)
GW12 npxG (780, 3)
GW13 npxG (780, 3)
GW14 npxG (780, 3)
GW15 npxG (780, 3)
GW16 npxG (780, 3)
GW17 npxG (780, 3)
GW18 npxG (780, 3)
GW19 npxG (780, 3)
GW20 npxG (780, 3)
GW21 npxG (780, 3)
GW22 npxG (780, 3)
GW23 npxG (780, 3)
GW24 npxG (780, 3)
GW25 npxG (780, 3)
GW26 npxG (780, 3)
GW27 npxG (780, 3)
GW28 npxG (780, 3)
GW29 npxG (780, 3)
GW30 npxG (780, 3)
GW31 npxG (780, 3)
GW32 npxG (780, 3)
GW33 npxG (780, 3)
GW34 npxG (780, 3)
GW1 cc (780, 3)
GW2 cc (780, 3)
GW3 cc (780, 3)
GW4 cc (780, 3)
GW5 cc (780, 3)
GW6 cc (780, 3)
GW7 cc (780, 3)
GW8 cc (780, 3)
GW9 cc (780, 3)
GW10 cc (780, 3)
GW11 cc (780, 3)
GW12 cc (780, 3)
GW13 cc (780, 3)
GW14 cc (780, 3)
GW15 cc (780, 3)
GW16 cc (780, 3)
GW17 cc (780, 3)
GW18 cc (780, 3)
GW19 cc (780, 3)
GW20 cc (780, 3)
GW21 cc (780, 3)
GW22 cc (780, 3)
GW23 cc (780, 3)
GW24 cc (780, 3)
GW25 cc (780, 3)
GW26 cc (780, 3)
GW27 cc (780, 3)
GW28 cc (780, 3)
GW29 cc (780, 3)
GW30 cc (780, 3)
GW31 cc (780, 3)
GW32 cc (780, 3)
GW33 cc (780, 3)
GW34 cc (780, 3)
GW1 npxgi (780, 3)
GW2 npxgi (780, 3)
GW3 npxgi (780, 3)
GW4 npxgi (780, 3)
GW5 npxgi (780, 3)
GW6 npxgi (780, 3)
GW7 npxgi (780, 3)
GW8 npxgi (780, 3)
GW9 npxgi (780, 3)
GW10 npxgi (780, 3)
GW11 npxgi (780, 3)
GW12 npxgi (780, 3)
GW13 npxgi (780, 3)
GW14 npxgi (780, 3)
GW15 npxgi (780, 3)
GW16 npxgi (780, 3)
GW17 npxgi (780, 3)
GW18 npxgi (780, 3)
GW19 npxgi (780, 3)
GW20 npxgi (780, 3)
GW21 npxgi (780, 3)
GW22 npxgi (780, 3)
GW23 npxgi (780, 3)
GW24 npxgi (780, 3)
GW25 npxgi (780, 3)
GW26 npxgi (780, 3)
GW27 npxgi (780, 3)
GW28 npxgi (780, 3)
GW29 npxgi (780, 3)
GW30 npxgi (780, 3)
GW31 npxgi (780, 3)
GW32 npxgi (780, 3)
GW33 npxgi (780, 3)
GW34 npxgi (780, 3)
GW1 npg (780, 3)
GW2 npg (780, 3)
GW3 npg (780, 3)
GW4 npg (780, 3)
GW5 npg (780, 3)
GW6 npg (780, 3)
GW7 npg (780, 3)
GW8 npg (780, 3)
GW9 npg (780, 3)
GW10 npg (780, 3)
GW11 npg (780, 3)
GW12 npg (780, 3)
GW13 npg (780, 3)
GW14 npg (780, 3)
GW15 npg (780, 3)
GW16 npg (780, 3)
GW17 npg (780, 3)
GW18 npg (780, 3)
GW19 npg (780, 3)
GW20 npg (780, 3)
GW21 npg (780, 3)
GW22 npg (780, 3)
GW23 npg (780, 3)
GW24 npg (780, 3)
GW25 npg (780, 3)
GW26 npg (780, 3)
GW27 npg (780, 3)
GW28 npg (780, 3)
GW29 npg (780, 3)
GW30 npg (780, 3)
GW31 npg (780, 3)
GW32 npg (780, 3)
GW33 npg (780, 3)
GW34 npg (780, 3)

In [26]:
for gw in range(1, 35):
    df = pd.read_csv(get_data_path('2024-25', f'gws/gw{gw}.csv'))
    print(df.shape)

(616, 17)
(627, 17)
(648, 17)
(659, 17)
(661, 17)
(664, 17)
(666, 17)
(667, 17)
(670, 17)
(674, 17)
(678, 17)
(684, 17)
(690, 17)
(693, 17)
(630, 17)
(701, 17)
(701, 17)
(705, 17)
(709, 17)
(711, 17)
(724, 17)
(729, 17)
(756, 17)
(831, 17)
(858, 17)
(783, 17)
(784, 17)
(789, 17)
(639, 17)
(791, 17)
(792, 17)
(869, 17)
(954, 17)
(645, 17)

In [33]:
for statistic in ["shots", "SoT", "SiB", "tpa", "npxG", "cc", "npxgi", "npg"]:
    df = pd.read_csv(f'{statistic}_ids.csv')
    df.fillna(0, inplace=True)
    df.to_csv(f'proccessed_{statistic}_ids.csv', index=False)

In [34]:
gw_df = pd.read_csv(get_data_path('2024-25', 'gws/gw1.csv'))
gw_df.shape

stat_df = pd.read_csv('proccessed_shots_ids.csv')
gw1_stat_df = stat_df[stat_df.gw == 1]

In [38]:
merged_df = pd.merge(gw_df, gw1_stat_df[['player_id', 'shots']], on='player_id', how='left')
null_rows = merged_df[merged_df.isnull().any(axis=1)]
null_rows['web_name'] = null_rows['player_id'].apply(get_player_name, args=(SEASON,))
null_rows

C:\Users\kayya\AppData\Local\Temp\ipykernel_15012\116146181.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_rows['web_name'] = null_rows['player_id'].apply(get_player_name, args=(SEASON,))

,player_id,minutes,in_starting_xi,was_home,goals_scored,assists,goals_conceded,clean_sheets,xG,xA,xGC,xGI,total_points,gameweek,oppeonent_team_id,fixture,value,shots,web_name
169,165,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,13,9,50,NaN,Deivid
218,213,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,4,8,45,NaN,Rak-Sakyi
232,225,5,0,True,0,0,1,0,0.00,0.00,0.07,0.00,1,1,5,3,40,NaN,Holgate
234,227,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,5,3,40,NaN,J.Virginia
236,229,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,5,3,50,NaN,Maupay
243,235,90,1,True,0,0,3,0,0.00,0.02,1.43,0.02,1,1,5,3,50,NaN,Pickford
246,238,65,1,True,0,0,3,0,0.00,0.17,1.23,0.17,-2,1,5,3,45,NaN,Young
250,242,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,14,1,40,NaN,Benda
254,246,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,14,1,45,NaN,Harris
256,248,90,1,False,0,0,1,0,0.00,0.00,2.43,0.00,3,1,14,1,50,NaN,Leno
258,250,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,14,1,40,NaN,Mbabu
261,253,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,14,1,45,NaN,Ream
290,280,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,12,4,40,NaN,Slicker
294,283,90,1,True,0,0,2,0,0.00,0.00,2.65,0.00,2,1,12,4,45,NaN,Walton
297,286,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,18,10,45,NaN,Cannon
298,287,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,18,10,45,NaN,Choudhury
316,305,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,18,10,40,NaN,Thomas
319,308,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,18,10,40,NaN,Ward
333,322,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,10,4,50,NaN,Gomez
392,380,90,1,True,0,0,0,1,0.00,0.02,0.44,0.02,7,1,9,1,45,NaN,Martinez
395,383,90,1,True,0,0,0,1,0.00,0.00,0.44,0.00,6,1,9,1,50,NaN,Onana
421,408,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,17,5,40,NaN,Lewis
432,419,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,17,5,45,NaN,White
434,421,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,17,5,70,NaN,Wilson
443,430,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,3,6,50,NaN,Dennis
452,439,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,3,6,50,NaN,O'Brien
467,453,90,1,False,0,0,1,0,0.71,0.08,0.25,0.79,2,1,15,5,55,NaN,Armstrong
490,475,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,15,5,40,NaN,Taylor
492,477,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,15,5,40,NaN,Wood
498,483,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,11,10,50,NaN,Bryan
499,484,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,11,10,45,NaN,Davies
500,485,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,11,10,45,NaN,Devine
502,487,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,11,10,45,NaN,E.Royal
503,488,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,11,10,45,NaN,Forster
505,490,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,11,10,50,NaN,Hojbjerg
506,491,77,1,False,0,0,1,0,0.12,0.08,0.90,0.20,2,1,11,10,65,NaN,Johnson
508,493,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,11,10,50,NaN,Lo Celso
561,546,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,1,2,45,NaN,Fraser
571,556,0,0,False,0,0,0,0,0.00,0.00,0.00,0.00,0,1,1,2,40,NaN,King
575,560,32,0,True,0,0,1,0,0.04,0.16,0.11,0.20,1,1,13,9,65,NaN,Neto
636,616,0,0,True,0,0,0,0,0.00,0.00,0.00,0.00,0,1,18,10,40,NaN,Nelson